<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/styles.css">
		<title>About</title>
	</head>
	<body>
		<%- include('navbar', { links: links }) %>

		<h1>About</h1>
	</body>
    <footer>
		<%- include('footer') %>
	</footer>
</html>