<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<h1><%= title %></h1>
		
		<form action="/delete" method="POST">
			<a href="javascript:document.forms[0].submit()">Yes</a>
		</form>

		<a href="/">No</a>
	</body>
</html>