<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/styles.css">
		<title>Homepage</title>
	</head>
	<body>
		<%- include('navbar', { links: links }) %>

		<ul>
			<% users.forEach((user) => { %> 
                <%- include('users/user', {user: user}); %> 
            <% }); %>
		</ul>
	</body>
	<footer>
		<%- include('footer') %>
	</footer>
</html>
