<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<h1><%= title %></h1>

		<ul>
			<% if (locals.matchedUsers) {%> 
                <% matchedUsers.forEach(function(user) { %>
                    <li> 
						<%= user.username %>
                    </li>
			    <% }); %> 
            <% } %>
		</ul>

		<a href="/">Back to all users</a>
	</body>
</html>